<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
	<div class="navbar-header">
		<ul class="nav navbar-nav flex-row">
			<li class="nav-item me-auto">
				<a class="navbar-brand" href="#">
					<span class="brand-logo">
						<img src="app-assets/images/logo/logo.png" class="img-fluid" alt="">
					</span>
					<!--<h2 class="brand-text">ERP</h2>-->
				</a>
			</li>
			<li class="nav-item nav-toggle">
				<a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse">
					<i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i>
					<i class="d-none d-xl-block collapse-toggle-icon font-medium-4 text-primary" data-feather="disc"
						data-ticon="disc"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="shadow-bottom"></div>
	<div class="main-menu-content">
		<ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
			<li class="nav-item">
				<a class="d-flex align-items-center" href="#">
					<i data-feather="home"></i>
					<span class="menu-title text-truncate">แดชบอร์ด</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="d-flex align-items-center" href="#">
					<i data-feather="monitor"></i>
					<span class="menu-title text-truncate">เวิร์กสเปซ</span>
				</a>
				<ul class="menu-content">
					<li>
						<a class="d-flex align-items-center" href="#">
							<span class="menu-item text-truncate">Menu 1</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="d-flex align-items-center" href="#">
					<i data-feather="star"></i>
					<span class="menu-title text-truncate">เมนูชื่นชอบ</span>
				</a>
				<ul class="menu-content">
					<li>
						<a class="d-flex align-items-center" href="#">
							<span class="menu-item text-truncate">Menu 1</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="d-flex align-items-center" href="#">
					<i data-feather="cpu"></i>
					<span class="menu-title text-truncate">โมดูล ทั้งหมด</span>
				</a>
				<ul class="menu-content">
					<li>
						<a class="d-flex align-items-center sub-menu" href="#" id="sideNavSalesAndMarketing">
							ขาย & การตลาด
						</a>
					</li>
					<li>
						<a class="d-flex align-items-center" href="#">
							<span class="menu-item text-truncate">แผนการ</span>
						</a>
					</li>
					<li>
						<a class="d-flex align-items-center sub-menu" href="#" id="sideNavProcurementManagement">
							ซื้อ
						</a>
					</li>
					<li>
						<a class="d-flex align-items-center sub-menu" href="#" id="sideNavInventoryManagement">
							คลังสินค้า
						</a>
					</li>
					<li>
						<a class="d-flex align-items-center" href="#">
							<span class="menu-item text-truncate">บริการ</span>
						</a>
					</li>
					<li>
						<a class="d-flex align-items-center sub-menu" href="#" id="sideNavFinanceAndAccount">
							การเงิน & บัญชี
						</a>
					</li>
					<li>
						<a class="d-flex align-items-center" href="#">
							<span class="menu-item text-truncate">รีเบตสินค้า</span>
						</a>
					</li>
					<li>
						<a class="d-flex align-items-center sub-menu" href="#" id="sideNavOrganization">
							องค์กร
						</a>
					</li>
					<li>
						<a class="d-flex align-items-center sub-menu" href="#" id="sideNavAdmin">
							ผู้ดูแลระบบ
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<!-- END: Main Menu-->

<!-- Sub Menu Content ///Sales And Marketing -->
<div class="submenu-content submenu-content-end panel-end hide-panel shadow-lg shadow-end"
	id="panelSalesAndMarketing">
	<div class="card-sub-menu">
		<div class="card-submenu-header border-bottom py-2">
			<h5 class="card-submenu-title">
				<i class="fa fa-plus-square me-50"></i>
				ขาย และ การตลาด
			</h5>
			<a href="#" class="btn-close text-reset" aria-label="Close"></a>
		</div>
		<div class="card-submenu-body pt-1 pb-3 mx-0 flex-grow-0 vh-100">
			<div class="row g-1">
				<div class="col">
					<button type="button" class="btn btn-flat-primary btn-sm w-100">
						<i class="fa fa-plus-square me-50"></i>Expand all
					</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-flat-secondary btn-sm w-100">
						<i class="fa fa-minus-square me-50"></i>Collapse all
					</button>
				</div>
			</div>
			<hr class="my-1">
			<div class="row">
				<div class="col-12">
					<!-- ลูกค้า -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-customer" role="button" aria-expanded="false"
							aria-controls="submenu-customer">
							<span>ลูกค้า</span>
							<i class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-customer">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลลูกค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลกลุ่มลูกค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- ขาย -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-sales" role="button" aria-expanded="false" aria-controls="submenu-sales">
							<span>ขาย</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-sales">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบเสนอราคา</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบเสนอราคาแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบเสนอราคาแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบสั่งขาย</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบสั่งขายแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบสั่งขายแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบมัดจำ</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบมัดจำแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบมัดจำแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบขาย/ใบแจ้งหนี้</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบขายแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบขายแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลรับคืนสินค้าจากใบขาย</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานรับคืนสินค้าจากใบขายแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานรับคืนสินค้าจากใบขายแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบลดหนี้/เพิ่มหนี้</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบลดหนี้/เพิ่มหนี้แบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบลดหนี้/เพิ่มหนี้แบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- รายงาน -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-report" role="button" aria-expanded="false"
							aria-controls="submenu-report">
							<span>รายงาน</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-report">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานการ์ดลูกหนี้</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานลูกหนี้คงเหลือ</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานอายุลูกหนี้</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- ราคา และ โปรโมชั่น -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-price-and-promotion" role="button" aria-expanded="false"
							aria-controls="submenu-price-and-promotion">
							<span>ราคา และ โปรโมชั่น</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-price-and-promotion">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ตั้งราคาขายสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">กำหนดโปรโมชั่น</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Sub Menu Content ///Procurement Management -->
<div class="submenu-content submenu-content-end panel-end hide-panel shadow-lg shadow-end"
	id="panelProcurementManagement">
	<div class="card-sub-menu">
		<div class="card-submenu-header border-bottom py-2">
			<h5 class="card-submenu-title">
				<i class="fa fa-plus-square me-50"></i>
				ซื้อ
			</h5>
			<a href="#" class="btn-close text-reset" aria-label="Close"></a>
		</div>
		<div class="card-submenu-body pt-1 pb-3 mx-0 flex-grow-0 vh-100">
			<div class="row g-1">
				<div class="col">
					<button type="button" class="btn btn-flat-primary btn-sm w-100">
						<i class="fa fa-plus-square me-50"></i>Expand all
					</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-flat-secondary btn-sm w-100">
						<i class="fa fa-minus-square me-50"></i>Collapse all
					</button>
				</div>
			</div>
			<hr class="my-1">
			<div class="row">
				<div class="col-12">
					<!-- ผู้ขาย -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-vendor" role="button" aria-expanded="false"
							aria-controls="submenu-vendor">
							<span>ผู้ขาย</span>
							<i class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-vendor">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลผู้ขาย</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลกลุ่มผู้ขาย</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- ขอซื้อ -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-purchase-requisition" role="button" aria-expanded="false"
							aria-controls="submenu-purchase-requisition">
							<span>ขอซื้อ</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-purchase-requisition">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบขอซื้อ (สินค้า)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบขอซื้อ (ต่างประเทศ)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบขอซื้อ (สินค้าฝากขาย)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบขอซื้อ (วัสดุสิ้นเปลือง)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบขอซื้อ (จัดจ้าง)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบขอซื้อ (ทรัพย์สิน)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบขอซื้อแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบขอซื้อแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- ซื้อ -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-purchase" role="button" aria-expanded="false"
							aria-controls="submenu-purchase">
							<span>ซื้อ</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-purchase">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบสั่งซื้อ (สินค้า)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบสั่งซื้อ (ต่างประเทศ)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบสั่งซื้อ (สินค้าฝากขาย)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบสั่งซื้อ (วัสดุสิ้นเปลือง)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบสั่งซื้อ (จัดจ้าง)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบสั่งซื้อ (ทรัพย์สิน)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบสั่งซื้อแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบสั่งซื้อแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ต้นทุนสินค้านำเข้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- ใบรับสินค้า -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-goods-receipt" role="button" aria-expanded="false"
							aria-controls="submenu-goods-receipt">
							<span>ใบรับสินค้า</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-goods-receipt">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบรับสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบรับสินค้าแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบรับสินค้าแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- ใบส่งคืน -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-goods-return" role="button" aria-expanded="false"
							aria-controls="submenu-goods-return">
							<span>ใบส่งคืน</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-goods-return">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบส่งคืนสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบส่งคืนสินค้าแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบส่งคืนสินค้าแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Sub Menu Content ///Inventory Management -->
<div class="submenu-content submenu-content-end panel-end hide-panel shadow-lg shadow-end"
	id="panelInventoryManagement">
	<div class="card-sub-menu">
		<div class="card-submenu-header border-bottom py-2">
			<h5 class="card-submenu-title">
				<i class="fa fa-plus-square me-50"></i>
				คลังสินค้า
			</h5>
			<a href="#" class="btn-close text-reset" aria-label="Close"></a>
		</div>
		<div class="card-submenu-body pt-1 pb-3 mx-0 flex-grow-0 vh-100">
			<div class="row g-1">
				<div class="col">
					<button type="button" class="btn btn-flat-primary btn-sm w-100">
						<i class="fa fa-plus-square me-50"></i>Expand all
					</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-flat-secondary btn-sm w-100">
						<i class="fa fa-minus-square me-50"></i>Collapse all
					</button>
				</div>
			</div>
			<hr class="my-1">
			<div class="row">
				<div class="col-12">
					<!-- คลัง -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-warehouse" role="button" aria-expanded="false"
							aria-controls="submenu-warehouse">
							<span>คลัง</span>
							<i class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-warehouse">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลคลัง</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลสถานที่เก็บ</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ตั้งค่าคลัง</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- สินค้า -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-product" role="button" aria-expanded="false"
							aria-controls="submenu-product">
							<span>สินค้า</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-product">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลประเภทสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลประเภทย่อยสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลกลุ่มประเภทสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลแบรนด์สินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- โอนสินค้า -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-stock-transfer" role="button" aria-expanded="false"
							aria-controls="submenu-stock-transfer">
							<span>โอนสินค้า</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-stock-transfer">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบขอสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบขอสินค้าแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบขอสินค้าแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบโอนสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบโอนสินค้าแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบโอนสินค้าแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบรับโอนสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบรับโอนสินค้าแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบรับโอนสินค้าแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- ใบเบิก และ รับคืน -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-requisition" role="button" aria-expanded="false"
							aria-controls="submenu-requisition">
							<span>ใบเบิก และ รับคืน</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-requisition">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบเบิก</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบเบิกแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบเบิกแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบรับคืนจากใบเบิก</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบรับคืนแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบรับคืนแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- ใบส่งคืน -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-goods-return" role="button" aria-expanded="false"
							aria-controls="submenu-goods-return">
							<span>ใบส่งคืน</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-goods-return">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบส่งคืนสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบส่งคืนสินค้าแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบส่งคืนสินค้าแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- ปรับปรุงสินค้า -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-stock-adjust" role="button" aria-expanded="false"
							aria-controls="submenu-stock-adjust">
							<span>ปรับปรุงสินค้า</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-stock-adjust">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ปรับยอดสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานปรับยอดสินค้าแบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานปรับยอดสินค้าแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ปรับปรุงสถานะสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานปรับปรุงสถานะสินค้าแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ปรับปรุงซีเรียลสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานปรับปรุงซีเรียลสินค้าแบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">นับสต๊อก</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- รายงาน -->
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-report" role="button" aria-expanded="false"
							aria-controls="submenu-report">
							<span>รายงาน</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-report">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานสต็อกการ์ด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานสินค้าคงเหลือ</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานอายุสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานสต็อกการ์ด (Serial)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานสินค้าคงเหลือ (Serial)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานอายุสินค้า (Serial)</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Sub Menu Content ///Finance And Account -->
<div class="submenu-content submenu-content-end panel-end hide-panel shadow-lg shadow-end"
	id="panelFinanceAndAccount">
	<div class="card-sub-menu">
		<div class="card-submenu-header border-bottom py-2">
			<h5 class="card-submenu-title">
				<i class="fa fa-plus-square me-50"></i>
				การเงิน & บัญชี
			</h5>
			<a href="#" class="btn-close text-reset" aria-label="Close"></a>
		</div>
		<div class="card-submenu-body pt-1 pb-3 mx-0 flex-grow-0 vh-100">
			<div class="row g-1">
				<div class="col">
					<button type="button" class="btn btn-flat-primary btn-sm w-100">
						<i class="fa fa-plus-square me-50"></i>Expand all
					</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-flat-secondary btn-sm w-100">
						<i class="fa fa-minus-square me-50"></i>Collapse all
					</button>
				</div>
			</div>
			<hr class="my-1">
			<div class="row">
				<div class="col-12">
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-cash-and-bank" role="button" aria-expanded="false"
							aria-controls="submenu-cash-and-bank">
							<span>เงินสดและธนาคาร</span>
							<i class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-cash-and-bank">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลธนาคาร</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลสาขาธนาคาร</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลเงินฝากถอนในบัญชีเงินฝาก</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลกระทบยอดเงินฝากธนาคาร</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลฝากเงิน</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลถอนเงิน</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลโอนเงินระหว่างธนาคาร</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลเครื่องรูดบัตรเครดิต</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลเครื่องรูดบัตรเครดิตตามสาขา</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลกระทบยอดบัตรเครดิต</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-receivable" role="button" aria-expanded="false"
							aria-controls="submenu-receivable">
							<span>รับเงิน</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-receivable">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลตั้งลูกหนี้อื่น</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบวางบิล</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบรับเงิน</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบลดหนี้/เพิ่มหนี้</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบลดหนี้/เพิ่มหนี้แบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบลดหนี้/เพิ่มหนี้แบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานการ์ดลูกหนี้</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานลูกหนี้คงเหลือ</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานอายุลูกหนี้</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานสรุปการรับเงิน</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-payable" role="button" aria-expanded="false"
							aria-controls="submenu-payable">
							<span>จ่ายเงิน</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-payable">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลตั้งหนี้ค่าสินค้า</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลตั้งหนี้อื่น</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลรับใบวางบิล</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบจ่ายเงิน</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลใบลดหนี้/เพิ่มหนี้</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบลดหนี้/เพิ่มหนี้แบบสรุป</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานใบลดหนี้/เพิ่มหนี้แบบรายละเอียด</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลอี-เพย์เมนต์</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานการ์ดเจ้าหนี้</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานเจ้าหนี้คงเหลือ</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">รายงานอายุเจ้าหนี้</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-petty-cash" role="button" aria-expanded="false"
							aria-controls="submenu-petty-cash">
							<span>เงินสดย่อย</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-petty-cash">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลตั้งวงเงินสดย่อย</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลรับเงินสดย่อย</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลขอจ่ายเงินสดย่อย</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลจ่ายเงินสดย่อย</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Sub Menu Content ///Organization Management -->
<div class="submenu-content submenu-content-end panel-end hide-panel shadow-lg shadow-end" id="panelOrganization">
	<div class="card-sub-menu">
		<div class="card-submenu-header border-bottom py-2">
			<h5 class="card-submenu-title">
				<i class="fa fa-plus-square me-50"></i>
				องค์กร
			</h5>
			<a href="#" class="btn-close text-reset" aria-label="Close"></a>
		</div>
		<div class="card-submenu-body pt-1 pb-3 mx-0 flex-grow-0 vh-100">
			<div class="row g-1">
				<div class="col">
					<button type="button" class="btn btn-flat-primary btn-sm w-100">
						<i class="fa fa-plus-square me-50"></i>Expand all
					</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-flat-secondary btn-sm w-100">
						<i class="fa fa-minus-square me-50"></i>Collapse all
					</button>
				</div>
			</div>
			<hr class="my-1">
			<div class="row">
				<div class="col-12">
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-company" role="button" aria-expanded="false"
							aria-controls="submenu-company">
							<span>บริษัท</span>
							<i class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-company">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="company.html">
										<div class="me-2">ข้อมูลบริษัท</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลสาขา</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลกลุ่มสาขา</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลพนักงาน</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลแผนก</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลตำแหน่ง</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลลำดับตำแหน่ง</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลผังองค์กร</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-franchise" role="button" aria-expanded="false"
							aria-controls="submenu-franchise">
							<span>แฟรนไชส์</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-franchise">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลแฟรนไชส์</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Sub Menu Content ///System Administrator -->
<div class="submenu-content submenu-content-end panel-end hide-panel shadow-lg shadow-end" id="panelAdmin">
	<div class="card-sub-menu">
		<div class="card-submenu-header border-bottom py-2">
			<h5 class="card-submenu-title">
				<i class="fa fa-plus-square me-50"></i>
				ผู้ดูแลระบบ
			</h5>
			<a href="#" class="btn-close text-reset" aria-label="Close"></a>
		</div>
		<div class="card-submenu-body pt-1 pb-3 mx-0 flex-grow-0 vh-100">
			<div class="row g-1">
				<div class="col">
					<button type="button" class="btn btn-flat-primary btn-sm w-100">
						<i class="fa fa-plus-square me-50"></i>Expand all
					</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-flat-secondary btn-sm w-100">
						<i class="fa fa-minus-square me-50"></i>Collapse all
					</button>
				</div>
			</div>
			<hr class="my-1">
			<div class="row">
				<div class="col-12">
					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-user" role="button" aria-expanded="false" aria-controls="submenu-user">
							<span>ผู้ใช้งาน</span>
							<i class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-user">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลผู้ใช้งาน</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="mb-50">
						<a class="btn btn-flat-primary d-flex align-items-center" data-bs-toggle="collapse"
							href="#submenu-security" role="button" aria-expanded="false"
							aria-controls="submenu-security">
							<span>ความปลอดภัย</span>
							<i data-action="collapse" class="fa fa-chevron-down ms-auto"></i>
						</a>
						<div class="collapse" id="submenu-security">
							<ul class="nav navbar-nav my-50">
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลบทบาท</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลนโยบายรหัสผ่าน</div>
										<i class="fa fa-star text-warning ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลตรวจสอบประวัติการใช้งาน</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลตรวจสอบผู้ใช้งาน</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลโมดูล</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลเมนู</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
								<li class="nav-item ps-2 my-25">
									<a class="btn btn-flat-secondary btn-sm w-100 text-start d-flex align-item-center justify-content-between"
										href="#">
										<div class="me-2">ข้อมูลฟอร์มและรายงาน</div>
										<i class="fa fa-star text-muted ms-auto" aria-disabled="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@code {

}