@page "/"

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <NavLink href="/position">Position</NavLink>
                                        </div>
                                        <div class="col-12">
                                            <NavLink href="/positionlevel">Position Level</NavLink>
                                        </div>
                                        <div class="col-12">
                                            <NavLink href="/company">Company</NavLink>
                                        </div>
                                        <div class="col-12">
                                            <NavLink href="/zone">Zone</NavLink>
                                        </div>
                                        <div class="col-12">
                                            <NavLink href="/department">Department</NavLink>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
